@font-face {
  font-family: 'iconfont';  /* Project id 2683868 */
  src: url('//at.alicdn.com/t/font_2683868_3axnda8cafh.woff2?t=1626684641991') format('woff2'),
       url('//at.alicdn.com/t/font_2683868_3axnda8cafh.woff?t=1626684641991') format('woff'),
       url('//at.alicdn.com/t/font_2683868_3axnda8cafh.ttf?t=1626684641991') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}