$content-fontcolor: #333;
$content-bgColor: #f1f1f1;
$content-highlignt: #E93B3B;
$content-input: #f9f9f9;
$content-inputPlaceholder: rgba(0,0,0,0.50);
$content-inputBoder: rgba(0,0,0,0.10);
$content-button: #0091FF;
$content-buttonShadow: rgba(0,145,255,0.32);
$content-notice-fontcolor: #777;